@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

// lOGIN PAGE

.base {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .login-card {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #fff;
        border: 1px solid #cdd6d9;

        #login-form {
            display: flex;
            flex-direction: column;

            .username {
                width: 250px;
                margin-top: 3px;
                margin-bottom: 18px;
                border: 1px solid #cdd6d9;
                padding: 8px;
                border-radius: 3px;
            }

            .username:focus {
                outline: none;
            }

            .login-button {
                color: #fff;
                padding: 8px;
                background-color: #5A55D2;
                border: transparent;
                border-radius: 8px;
                cursor: pointer;
            }
        }
    }
}

// SIDEBAR COMPONENT

#sidebar {
    width: 15%;
    height: 100%;
    position: fixed;
    background-color: #fff;
    padding: 30px 0;
    box-shadow: 10px 0px 14px -16px rgba(0, 0, 0, 0.75);

    .sidebar-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #site-logo {
        width: 50px;
        height: 50px;
    }

    .sidebar-item-container {
        list-style: none;
        position: relative;
        height: 100vh;
        margin-top: 50px;
        .sidebar-item {
            display: flex;
            margin-top: 40px;

            img {
                width:24px;
                height: 25px;
                margin-right: 10px;
            }
            a{
                text-decoration: none;
                color: #000;
            }
        }
        
        .logout {
            position: absolute;
            bottom: 220px;
        }
    }
}

/* POPUP PAGE */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.component-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 15%;
    padding: 50px;
    #popup-controller {
        .popup-admin-input {
            border: 1px solid #cdd6d9;
            height: 30px;
            border-radius: 4px;
        }
        .popup-admin-input:focus {
            outline: none;
        }
        .popup-admin-color {
            background: none;
            border: none;
            width: 70px;
            height: 30px;
            cursor: pointer;
        }
    }

    #popup {
        display: flex;
        justify-content: center;
    }
    #content {
        justify-content: center;
    }
    #popup-create {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 40px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }
}


/* POPUP PAGE */

@media(max-width: 1024px) {
    .base {
        .login-card {
            padding: 70px;
            flex-direction: column;
        }
    }

    #sidebar {
        width: 43%
    }

}